name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.8', '3.9', '3.10']
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Restore Ubuntu cache
        uses: actions/cache@v1
        if: matrix.operating-system == 'ubuntu-latest'
        with:
          path: ~/.cache/pip
          key: ${{ matrix.os }}-${{ matrix.python-version }}-${{ hashFiles('**/setup.py')}}
          restore-keys: ${{ matrix.os }}-${{ matrix.python-version }}-

      - name: Restore MacOS cache
        uses: actions/cache@v1
        if: matrix.operating-system == 'macos-latest'
        with:
          path: ~/Library/Caches/pip
          key: ${{ matrix.os }}-${{ matrix.python-version }}-${{ hashFiles('**/setup.py')}}
          restore-keys: ${{ matrix.os }}-${{ matrix.python-version }}-

      - name: Restore Windows cache
        uses: actions/cache@v1
        if: matrix.operating-system == 'windows-latest'
        with:
          path: ~\AppData\Local\pip\Cache
          key: ${{ matrix.os }}-${{ matrix.python-version }}-${{ hashFiles('**/setup.py')}}
          restore-keys: ${{ matrix.os }}-${{ matrix.python-version }}-

      - name: Update pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: >
          pip install -e .[dev]
      - name: Lint with isort and black
        run: |
          pip install black==21.7b0 
          pip install isort==5.9.2
          bash scripts/code_format.sh
          
      - name: Unittest for Yolov5/6/7/8 models with TorchYolo package (CPU)
        run: |
          pip install yolov5 yolov6detect yolov7detect
          pip install ultralytics==8.0.10
          
      - name: Test TorchYolo CLI
        run: |
          torchyolo version
          torchyolo predict --config_path torchyolo/configs/default_config.yaml --model_type yolov5 --model_path yolov5n.pt --source data/highway.jpg
          torchyolo predict --config_path torchyolo/configs/default_config.yaml --model_type yolov6 --model_path yolov6s.pt --source data/highway.jpg
          torchyolo predict --config_path torchyolo/configs/default_config.yaml --model_type yolov7 --model_path yolov7-tiny.pt --source data/highway.jpg
          torchyolo predict --config_path torchyolo/configs/default_config.yaml --model_type yolov8 --model_path yolov8s.pt --source data/highway.jpg
